* {
    font-family: "JetBrains Mono", monospace;
    color: #FC28A8;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    display: inline-block;
}

a {
    text-decoration: none;
}